div {
    color: blue;
}
p {
    color: red;
}
body{
    background-color : #DDDDDD;
}
.main{
    background-color : white;
    width : 400px;
    margin-left : 100px;
    margin-right : auto;
    padding : 0px;
}
