div {
    color: blue;
}
p {
    color: red;
}
body{
    background-color : #DDDDDD;
    text-align: center;
}
.main{
    background-color : white;
    width : 500px;
    margin-left : auto;
    margin-right : auto;
}
